.title {
      color:  grey;
}


.oee {
     margin-top: 20px;
     text-align:center;
     color: grey;
     width: 800px;
     height: 250px;
     float: left;
     border: 1px solid #ccc;
}

.fault {
     margin-left: 20px;
     margin-top: 20px;
     text-align:center;
     color: grey;
     width: 300px;
     height: 250px;
     float: left;
     border: 1px solid #ccc;
}

.machine {
     margin-top: 20px;
     padding-bottom: 10px;
     padding-left: 10px;
     padding-right: 10px;
     text-align:center;
     color: grey;
     width: 1120px;
     float: left;
     border: 1px solid #ccc;
}

.stateTable {
           margin:0px;padding:0px;
           width:100%;
           border:1px solid #ffffff;

           -moz-border-radius-bottomleft:0px;
           -webkit-border-bottom-left-radius:0px;
           border-bottom-left-radius:0px;

           -moz-border-radius-bottomright:0px;
           -webkit-border-bottom-right-radius:0px;
           border-bottom-right-radius:0px;

           -moz-border-radius-topright:0px;
           -webkit-border-top-right-radius:0px;
           border-top-right-radius:0px;

           -moz-border-radius-topleft:0px;
           -webkit-border-top-left-radius:0px;
           border-top-left-radius:0px;
}.stateTable table{
    border-collapse: collapse;
        border-spacing: 0;
        width:100%;
        height:100%;
        margin:0px;padding:0px;
}.stateTable tr:last-child td:last-child {
             -moz-border-radius-bottomright:0px;
             -webkit-border-bottom-right-radius:0px;
             border-bottom-right-radius:0px;
}
.stateTable table tr:first-child td:first-child {
            -moz-border-radius-topleft:0px;
            -webkit-border-top-left-radius:0px;
            border-top-left-radius:0px;
}
.stateTable table tr:first-child td:last-child {
            -moz-border-radius-topright:0px;
            -webkit-border-top-right-radius:0px;
            border-top-right-radius:0px;
}.stateTable tr:last-child td:first-child{
             -moz-border-radius-bottomleft:0px;
             -webkit-border-bottom-left-radius:0px;
             border-bottom-left-radius:0px;
}.stateTable tr:hover td{

}
.stateTable tr:nth-child(odd){ background-color:#cccccc; }
.stateTable tr:nth-child(even)    { background-color:#ffffff; }.FaultTable td{
            vertical-align:middle;


            border:1px solid #ffffff;
            border-width:0px 1px 1px 0px;
            text-align:left;
            padding:7px;
            font-size:15px;
            font-family:Arial;
            font-weight:normal;
            color:#000000;
}.stateTable tr:last-child td{
             border-width:0px 1px 0px 0px;
}.stateTable tr td:last-child{
             border-width:0px 0px 1px 0px;
}.stateTable tr:last-child td:last-child{
             border-width:0px 0px 0px 0px;
}
.stateTable tr:first-child td{
                           background:-o-linear-gradient(bottom, #002947 5%, #002947 100%);     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #002947), color-stop(1, #002947) );
                           background:-moz-linear-gradient( center top, #002947 5%, #002947 100% );
                           filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#002947", endColorstr="#002947"); background: -o-linear-gradient(top,#002947,002947);

                           background-color:#002947;
                           border:0px solid #ffffff;
                           text-align:center;
                           border-width:0px 0px 1px 1px;
                           font-size:14px;
                           font-family:Arial;
                           font-weight:bold;
                           color:#ffffff;
}
.stateTable tr:first-child:hover td{
            background:-o-linear-gradient(bottom, #002947 5%, #002947 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #002947), color-stop(1, #002947) );
            background:-moz-linear-gradient( center top, #002947 5%, #002947 100% );
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#002947", endColorstr="#002947");  background: -o-linear-gradient(top,#002947,002947);

            background-color:#002947;
}
.stateTable tr:first-child td:first-child{
            border-width:0px 0px 1px 0px;
}
.stateTable tr:first-child td:last-child{
            border-width:0px 0px 1px 1px;
}
