.oee-graphs {
	    border: 1px solid #ccc;
}

.title {
      color:  grey;
}

.container-oee {
	              position:relative; 
		             left: -80px;
}

.oee-info {
	  position:relative;
	  left: -50px;
	  border: 1px solid #ccc;
	  float: left; clear: left;
	  color: grey;
}



